## **Question 1**
### Use the dictionary, 
### port1 = {21: "FTP", 22:"SSH", 23: "telnet", 80: "http"}
### and make a new dictionary in which keys become values and values become keys, as shown: 
### port2 = {“FTP":21, "SSH":22, “telnet":23,"http": 80}

In [11]:
port1={21: "FTP", 22:"SSH", 23: "telnet", 80: "http"}
port2={value:key for key,value in port1.items()}
print("The final dictionary by swapping key and values",port2)

The final dictionary by swapping key and values {'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

# **Question 2**
### Take a list of tuple as shown below.
### [(1,2), (3,4), (5,6),(4,5)]
### Make a new list which contains sum of number of tuples. 
## For example 
## Input 
## [(1,2), (3,4), (5,6)]
## Out put 
## [3, 7, 11]

In [14]:
list1=[(1,2), (3,4), (5,6),(4,5)]
list2=[]
for each in range(0,4):
  a,b=list1[each]
  list2.append(a+b)
print("The final output is",list2)

The final output is [3, 7, 11, 9]

# **Question 3**
## Take a list as shown below 
## [(1,2,3), [1,2], ['a','hit','less']]
## The List contains tuple and lists. Make the elements of inner lists and tuples to outer list

In [31]:
list1=[(1,2,3), [1,2], ['a','hit','less']]
list2=[]
list2=[i for each in list1 for i in each]
print("The final list is",list2)

The final list is [1, 2, 3, 1, 2, 'a', 'hit', 'less']